html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: 'Merriweather', serif;
*/

html {
  font-family: 'Merriweather', serif;
  line-height: 1.5;
}

main ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .25rem;
}
